@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lora&family=Open+Sans&family=Roboto:wght@300&display=swap');

* {
  font-family: Roboto !important;
}

body {
  margin: 0;
  font-family: Roboto;
}

.links {
  text-decoration: none;
  color: #fff;
}

.box {
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 1rem #00000025 inset;
}

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.links-two {
  text-decoration: none;
  color: #000000;
}